__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.spec

# Base de datos local y cookies privadas
moodle_tasks.db
*.db
.env
.env.*
!.env.example

# WhatsApp Session y dependencias
whatsapp_bot/node_modules/
whatsapp_bot/auth_session/

venv/
env/
.env/

.vscode/
.idea/
